
body {
    margin : 0px;
    padding : 0px;
    text-align : center;
    background : #DDD;
    color : #000;
}

#content {
    font-size : 20pt;
    margin : 0px;
    padding : 0px;
    width : 100%;
}

h1 {
    font-size : 25pt;
}

div.button {
    font-size : 35pt;
    width : 97%;
    padding : 3px;
    background : #444;
    color : #FFF;
    border-radius : 30px;
    margin-top : 10px;
    margin-bottom : 10px;
    margin-left : 2px;
    margin-right : 2px;
}

textarea {
    width : 100%;
    height : 150px;
    margin : 0px;
    padding : 0px;
}

div#count {
    text-align : right;
    margin-right : 10px;
    font-size : 18pt;
}