
body {
    margin : 0px;
    padding : 0px;
    text-align : center;
    background : #DDD;
    color : #000;
}

a {
    text-decoration : none;
    color : #A0A;
}

ul {
    list-style-type: none;
}

#content {
    font-size : 15pt;
    margin : 0px;
    padding : 0px 0px 100px 0px;
    width : 100%;
}

h1 {
    font-size : 25pt;
}

div#twitter {
    font-size : 10pt;
    text-align : right;
    margin : 5px 5px 15px 0px;
}

div.button {
    font-size : 18pt;
    width : 100%;
    padding : 2px;
    margin : 10px 2px 10px 2px;
    background : #444;
    color : #FFF;
    border-radius : 10px;
}

div.button_disable {
    color : #BBB;
    background : #777;
}

textarea#source {
    width : 100%;
    height : 90px;
    margin : 0px;
    padding : 0px;
    font-size : 15pt;
}

div#count, div#log, div#info {
    margin-top : 12px;
    text-align : right;
    margin-right : 10px;
    font-size : 10pt;
}

div#detail {
    margin-top : 50px;
    visibility : hidden;
}
