
body {
    margin : 0px;
    padding : 0px;
    text-align : center;
    background : #DDD;
    color : #000;
}

a {
    text-decoration : none;
    color : #A0A;
}

#content {
    font-size : 40pt;
    margin : 0px;
    padding : 0px 0px 100px 0px;
    width : 100%;
}

h1 {
    font-size : 75pt;
}

div#twitter {
    font-size : 30pt;
    text-align : right;
    margin : 5px 5px 15px 0px;
}

div.button {
    font-size : 55pt;
    width : 100%;
    padding : 0px;
    margin : 10px 2px 10px 2px;
    background : #444;
    color : #FFF;
    border-radius : 30px;
}

div.button_disable {
    color : #BBB;
    background : #777;
}

textarea {
    width : 100%;
    height : 150px;
    margin : 0px;
    padding : 0px;
}

div#count, div#log, div#info {
    margin-top : 50px;
    text-align : right;
    margin-right : 30px;
    font-size : 35pt;
}

div#detail {
    margin-top : 50px;
    visibility : hidden;
}
